<div class="modal fade" id="book-upload-modal" tabindex="-1" role="dialog" aria-labelledby="book-upload-modal-title" aria-hidden="true" data-bind="with: bookUploadViewModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="book-upload-modal-title">Upload Book</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group text-right" id="file-form-group">
                        <span class="btn btn-primary fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Select book</span>
                            <input type="file" id="file" />
                        </span>
                    </div>
                    <div id="progress" class="progress">
                        <div class="progress-bar progress-bar-primary"></div>
                    </div>

                    <div class="form-group has-error validation-message-container">
                        <p class="help-block" data-bind="html: validationMessage"></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

